# Git LFS tracking for large data files
data/raw/*.csv filter=lfs diff=lfs merge=lfs -text
data/silver/*.parquet filter=lfs diff=lfs merge=lfs -text
data/gold/*.parquet filter=lfs diff=lfs merge=lfs -text
data/bronze/*.parquet filter=lfs diff=lfs merge=lfs -text
data/raw/SGJobData.csv filter=lfs diff=lfs merge=lfs -text
data/silver/sg_jobs_silver.parquet filter=lfs diff=lfs merge=lfs -text
